
.NavDeals{
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #F9F9F9;
}
.NavGroupLeft{
    flex: 1;
}
.ButtonAddDeal{
    margin-left: 20px;
    background-color: green;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    font-size: 15px;
    height: 30px;
    width: 100px;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.NavGroupCenter{
    flex: 1;
}
.NavGroupRight{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}
.ButtonSetting{
    background-color: transparent;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid #CACBCC;
    margin-left: 20px;
    height: 30px;
    font-size: 17px;
    color: #2A2D42;
    cursor: pointer;
}
.ButtonUser{
    background-color: transparent;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    border: 1px solid #CACBCC;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    font-size: 17px;
    color: #2A2D42;
    cursor: pointer;
}

.PopperUser{
    position: absolute;
    right: 23px;
    top: 131px;
    z-index: 4;
    width: 390px;
}
.SearchUser{
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}
.textField {
    border: 1px solid #222222;
    width: 100%;
}
.PopperUser header{
    background-color: transparent;
    color: #222222;
}
.PopperUser button{
    min-width: 130px;
    background-color: transparent;
    color: #222222;
}
.subtitle{
    background-color: #EEF4FD;
    margin: 10px;
    border: 1px solid #CCDCFA;
    text-align: center;
    font-size: 10px;
}
.owner{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    background-color: #E4E4E4;
}
.Favorite{
    padding-bottom: 5px;
}
.Favorite li{
    margin-top: 10px;
    background: transparent;
    height: 10px;
}
.Favorite li:hover{
    background-color: #3B6BE3;
}
.DialogAddDeals{
    position: relative;
    background-color: red;
    top: 0px;
}

.titleAddDeal{
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    border-bottom: 1px solid #222222;
    height: 45px;
}
.footerAddDeal{
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    border-top: 1px solid #222222;
    height: 45px;
}
.closeAddDeal{
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.formAddDeal{
    width: 300px;
}
.formAddDeal li{
    padding-left: 0;
    padding-right: 0;
}
.ListRadio{
}
.ListRadio span{
}

.NavGroupCenter{
    text-align: center;
}
.setting2{
    position: absolute;
    left: 500px;
    background-color: red;
}
.settingright{
    position: absolute;
    display: flex;
}