.DealsBody{
    position: relative;
}
.DealsColumn{
    position: absolute;
    z-index: 3;
    right: 5px;
}
.MenuColumn{
    position: absolute;

}
.PaperDeals{
    right: 100px;
    width: 300px;
    height: 400px;
}
.LeftRight{
    border-top: 1px solid;
    height: 40px;
}
.Left{
    position: absolute;
    left: 0;
}
.Right{
    position: absolute;
    right: 0;
}
.DealsPaperBody{
    overflow-y: scroll;
    height: 300px;
}
.DealsPaperBodyButton{
    text-align: center;
}
.DealsPaperBodyButton button{
    text-align: center;
    width: auto;
    padding: 10px;
    border: 1px solid #CACBCC;
    background-color: #F7F7F7;
    font-size: 15px;
    cursor: pointer;
}
.ContentDeals{
    position: absolute;
    top: -43px;
    left: -60px;
}
.SearchUser{
    padding-top: 5px;
    padding-bottom: 5px;
}