.ItemTable{
    display: flex;
    align-items: center;
}
.ItemButton{
    flex: 1;
    text-align: right;
}
.EditItemTable{
    visibility: visible;
    z-index: 9;
}
.ItemContentButton{
    width: 300px;
    padding-right: 10px;
}
input {
    width: 100%;
}
.ItemButton{
    visibility: hidden;
}
.ItemTable:hover button{
    visibility: visible;
}
.ItemTable:active button{
    visibility: visible;
}
.TableBodyDeals{
    overflow-y: scroll;
}