.ItemTable{
    display: flex;
    align-items: center;
}
.ItemButton{
    flex: 1;
    text-align: right;
}
.EditItemTable{
    z-index: 9;
}
.ItemContentButton{
    width: 300px;
    padding-right: 10px;
}
input {
    width: 100%;
}